@font-face {
    font-family: 'Playtimes'; 
    src: url('fonts/Playtimes.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    background-color: #333;
}

body, html {
    height: 100%;
    width: 100%;
}

h1 {
    color: aquamarine;
    text-align: center;
}



#areaJuego{
    display: flex;
    flex-direction: column;
    height: 58vh;
    width: 100%;
    margin-bottom: 0px;
    justify-content: flex-start;
    align-items: center;
}

#areaJuego > div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#areaJuego *{
    display:flex;
}

#areaJugador{
    height: 25%;
    width: 100%;
    grid-row:2;
}

.zonaBotones{
    display:contents;
    align-self: bottom;
}

.botones{
    display:flex;
    justify-self: center;
}

.boton{
    height: 100px;
    width: 100px;
    margin-left: 0.7em;
    margin-bottom: 1em;
}

.boton:hover {
    box-shadow: 1em;
    cursor: pointer;
}

.boton-jugar {
    display: flex;
    height: 4em;
    width: 10em;
    justify-content: center;
    align-items: center;
    justify-self: center;
    font-family: 'Playtimes';
    background: linear-gradient(to left, pink, coral);
    border-radius: 24px;
}

.boton-jugar:hover {
    cursor: pointer;
}

ul{
    list-style-type: none;
}

.rojo{
    background-color: red;
    color:red;
}

.azul{
    background-color: blue;
    color:blue;
}

.naranja{
    background-color: orange;
    color: orange;
}

.verde{
    background-color: green;
    color:green;
}

.amarillo {
    background-color: yellow;
    color: yellow;
}

.purpura {
    background-color: purple;
    color:purple;
}

.solucion {
    height: 6vh;
    width: 6vh;
    margin-left: 0.7em;
    margin-bottom: 1em;
    border-bottom: 25px;
    border-color: black;
    border-style: solid;
}

.correcto {
    border-color: lightgreen;
}

.casi {
    border-color: gold;
}

.zonapreview {
    display: flex;
    justify-self: center;
    justify-content: center;
    height: 50px;
    width: 100vh;
}

.preview {
    height: 30px;
    width: 30px;
    margin-left: 0.7em;
    border-radius: 100%;
}

.preview:hover {
    cursor: pointer;
}